<h1>All books</h1>

<%= form_with url: books_path, method: :get, html: { role: "search" } do |form| %>
  <div class="input-group w-25">
    <%= form.text_field :query, value: @query, type: "search", placeholder: "Search", class: "form-control" %>
    <%= form.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.author, book %></td>
          <td><%= link_to book.title, book %></td>
        </tr>
      <% end %>
  </tbody>
</table>
